html {
  color-scheme: dark light;
  font-family: sans-serif;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  iframe {
    background-color: white;
  }
}

@media (prefers-color-scheme: light) {
  iframe {
    background-color: white;
  }
}

body {
  margin: 0;
  display: flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-content: stretch;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

header>* {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

h1 {
  margin: 0;
}

.error {
 color: red;
}

#lblabrir {
  cursor: pointer;
}

#abrir {
  position: absolute;
  top: -1000rem;
}

label {
  display: inline-block;
}

.contenido {
  flex-grow: 1;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  box-sizing: border-box;
}

#código {
  width: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

section {
  width: 0;
  flex-grow: 1;
  overflow: auto;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

iframe {
  display: block;
  flex-grow: 1;
  box-sizing: border-box;
}

.CodeMirror {
  border-bottom: 1px solid #888;
  flex-grow: 1;
  box-sizing: border-box;
  font-size: 1rem;
}

.CodeMirror-hints {
  position: fixed;
  list-style-type: none;
  background-color: #e7e7e7;
  color: black;
  padding: 0;
  overflow: auto;
  z-index: 1004;
  box-sizing: border-box;
}

.CodeMirror-hints li {
  padding: 0.2em;
  cursor: default;
}

.CodeMirror-hints li:hover {
  background-color: #cfcfcf;
}